# Data Science Tools and Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**

- List popular languages for Data Science
- List of commonly used libraries for DS
- Table of Data Science Tools

##### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

##### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. SciPy
4. NumPy
5. ggplot

|Data Science Tools|
|---|
|MySQL|
|Spark SQL|
|PixieDust|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
2 + 3

5

In [2]:
3 * 10

30

In [5]:
20000 / 123455

0.162002349034061

In [6]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60

time_in_minutes = 200

print(f"Your time in hours if {round(time_in_minutes/60,1)}h.")

Your time in hours if 3.3h.

## Author
Kacper